.form__labelText {
    width: 100%;
    max-width: 125px;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
}

.form__field {
    border: 2px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 210px;
    border-radius: 5px;
    margin: 0px 5px 20px 0px;
}

.form__field:required {
    border-color: #777;
}

.form__button {
    text-align: center;
    width: 33.3333333333%;
    border: none;
    background-color: #008080;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 15px auto;
    display: block;
}

@media (max-width: 474px) {
    .form__button {
        width: 100%;
    }
  }

.form__button:hover {
    background-color: #005757;
}

.form__fieldset {
    border: 3px solid #aac3bd;
    padding: 20px;
    border-radius: 5px;
}

.form__legend {
    background-color: #008080;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}