html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  background-color: #cfe5e2;
  background-image: url("dollars.jpg");
  display: flex;
  align-items: center;
  text-align: center;
  color: #292929;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  justify-content: center;
}

.header {
  color: #005757;
  margin-bottom: 20px;
  margin-top: 0px;
}